/**
 * Simple CSS Grid` with SASS and Flexbox
 * Joseph Anane
 * 
 * BROWSER SUPPORT OF Flexbox
 *--------------------------------------
 * Browser  > Version   --> Level
 *--------------------------------------
 * FireFox              > 28        --> Full support
 * Chrome               > 29        --> Full Support
 * Opera                > 17        --> Full Support
 * Safari               > 9         --> Full Support
 * IE                   > 10        --> Partial Support
 * Chrome Android       > 74        --> Full Support
 * IOS Safari           > 9         --> Full Support
 * Android Browser      > 4.4       --> Full Support
 * Firefox Android      > 66        --> Full Support
 * Opera Mobile         > 12.1        --> Full Support
*/

// variables
$grid-columns: 12;

$columns: (1,2,3,4,5,6,7,8,9,10,11,12);

$screen-sizes: (
    'xs':0px, //size-name:min-width
    'sm':768px,
    'md':992px,
    'lg':1200px,
    );


`
//funtions 

// flear floating elements: needed before creating row
@mixin clearfix {
    clear: both;
}
// generate a row dynamically
@mixin make-row($margin:0){

    @include clearfix();

    margin-left: $margin;
    margin-right: $margin;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    box-sizing: border-box;

}

// create a new column from this template
@mixin make-column($size-name:12){
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 1px;
    position: relative;
    padding: 0;
    box-sizing: border-box;
}


// calculate the width of a column
@mixin gen-col-size($columns:12) {
    width: percentage($columns/$grid-columns);
}

// given a screen size and a number of columns, generate a class that holds the column width
@mixin generate-col-classes($screen-size:'xs',$columns:12) {
    .#{$screen-size}-#{$columns}{
        @include gen-col-size($columns);
    }
}


//styles
.row {
    @include make-row(0px);
    min-height: 1px;
    flex-wrap: wrap;
  
    &.centered{
      justify-content: center;
    }
    
    &.right{
      justify-content: right;
    }
  
    .col,.col-xs{
      @include make-column();
      @include gen-col-size(12);
    }

    @each $size-name,$size in $screen-sizes{
        @media(min-width:$size){
            [class^=#{$size-name}]{
                @include make-column($size-name);
            }
            @each $column in $columns {
                @include generate-col-classes($size-name,$column);
            }

        }

    }
     
}